#mainPopup {
	width: 100%;
	height: 100%;
	margin: 0;
	width: 400px;
	font-family: Lato, Ubuntu, Arial, sans-serif;
	background-color: #f5f7f5;
}

body {
	margin-top: -15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#title {
	margin: 0 auto;
	margin-left: 25%;

}

h1 {
	font-size: 20px;
	color: #CC1010;
	text-transform: center;
	padding-top: 19px;
}


#youtube {
	display: block;
	margin: 0 auto;
	float: left;
	padding-right: 10px;
	padding-top: 15px;
}

#search_bar {
	width:250px;
	margin: 7px;

	margin-left: 15%;
}

/*#results #no-new-vids-text {
	text-align: center;
	font-size: 13px;
}*/

#results .container {
	max-height: 400px;
	overflow: auto;
}

#results li {
	list-style: none;
}

button {
	color: #CC1010;
}

#crying {
	margin: auto;
	width:25px;
	height:25px;
	padding-bottom: 15px;
}

#user-list {
	text-align: center;
}

#channel-list a {
	font-size: 15px;
	/*text-align: center;*/
	padding-bottom: 15px;
}

#channel-list img {
	height: 30px;
	width: 30px;
	float: left;
}

.remove {
	margin-left: 12px;
	color: black;
	float: right;
	border: none;
	background-color: red;
	margin-top: 3px;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	border-radius: 50%;
	text-align: center;
}

.remove:hover {
	background-color: #CC1010;

}




a {
	display: block;
	color: black;
	font-size: 13px;
	text-decoration: none;
	padding-left: 23px;
	text-align: center;
}

a:hover {
    color: #CC1010;
}
